@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: white;
}

header {
    background-color: black;
    color: purple;
    padding: 50px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 0, 0, 0.548);
    box-shadow: 0px 7px 7px red;
}

header > h1 {
    font-weight: normal;
    font-style: var(--font3);
    font-size: 10vh;
    padding-bottom: 10px;
}

header > p {
    font-weight: bold;
    font-size: 1.2em;
}

header > p:hover {
    color: aqua;
    text-decoration: none;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2em;
}

.normal > p {
    color: purple;
}

.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
    font-size: cover;
    background-attachment: fixed;
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    margin-right: 60%;
}

#img01 {
    background-image: url('../imagens/gabs.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}
#img02 {
    background-image: url('../imagens/murilo.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}
#img03 {
    background-image: url('../imagens/rafael.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}
#img04 {
    background-image: url('../imagens/rabello.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}
#img05 {
    background-image: url('../imagens/gustavo.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: aqua;
}

footer > p {
    padding: 20px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
}